<app-navbar></app-navbar>
<!--banner-->
<div class="banner-top">
  <div>
    <h1>เลือกประเภทของจำนำ</h1>
    <em></em>
  </div>
</div>
<!--content-->
<div class="content">
  <div class="container">
    <!--products-->
    <div class="content-mid">
      <div class="mid-popular">

        <div class="row">
          <div class="card-icon col-md-2">
            <a href="pawner-post-form-gold.html">
              <img class="icon" src="../../../assets/images/icon/gold.png">
            </a>
          </div>
          <div class="card-icon col-md-2">
            <a href="pawner-post-form-watch.html">
              <img class="icon" src="../../../assets/images/icon/watch.png">
            </a>
          </div>
          <div class="card-icon col-md-2">
            <a href="pawner-post-form-smartphone.html">
              <img class="icon" src="../../../assets/images/icon/mobile.png">
            </a>
          </div>
          <div class="card-icon col-md-2">
            <a href="pawner-post-form-laptop.html">
              <img class="icon" src="../../../assets/images/icon/com.png">
            </a>
          </div>
          <div class="card-icon col-md-2">
            <a href="pawner-post-form-camera.html">
              <img class="icon" src="../../../assets/images/icon/camera.png">
            </a>
          </div>
          <div class="card-icon col-md-2">
            <a href="pawner-post-form-tv.html">
              <img class="icon" src="../../../assets/images/icon/tv.png">
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>